@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./fonts/Gilroy/stylesheet.css');

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    font-display: swap;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'),
        url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1640px;
}

.single-product {
    font-family: Jost;
}

.single-product__slider img {
    max-width: 100%;
}

.single-product__info h1 {
    font-size: 22px;
    margin: 0;
    margin-bottom: 17px;
}

.pay {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

@media screen and (max-width:1024px) {
    .pay {
        gap: 0px;
        justify-content: space-between;

    }
}

.counter {
    padding: 15px 18px;
    display: flex;
    gap: 25px;
    border: 1px solid #D8D9DA;
    border-radius: 555px;
    margin-right: 19px;
}

.minus {
    background: #fff;
    border: none;
    color: #404D63;
    width: 8px;
    height: 2px;
}

.plus {
    background: #fff;
    border: none;
    color: #404D63;
    width: 8px;
}

.box {
    display: flex;
    gap: 19px;
}

.btn {
    padding: 15px 67px;
    background: #2491EB;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 555px;
    cursor: pointer;
}

@media screen and (max-width:425px) {
    .pay {
        flex-wrap: wrap;
    }

    .btn {
        width: 100%;
        margin-top: 13px;
        padding: 20px 67px;
        font-size: 24px;
    }

    .counter {
        margin-right: 0px;
    }
}

.pay h4 {
    font-size: 32px;
    font-weight: 700;
    color: #404D63;
    margin: 0;
    flex: 1;
}

@media screen and (max-width:320px) {
    .pay h4 {
        text-align: center;
        font-size: 24px;
    }

    .pay {
        justify-content: center;
    }

    .counter {
        margin-top: 10px;
    }
}


.select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 0 20px;
}

.select-item {
    font-size: 14px;
    padding: 6px 10px 18px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    transition: box-shadow 0.5s;
}

.select-img {
    width: 86px;
    height: 80px;
}

.select-img img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

.select-item.active {
    border-bottom: 3px solid #2f69ff;
    box-shadow: 5px 5px 40px rgba(20, 21, 27, 0.15);
}

.select-item__name {
    display: block;
    font-weight: 700;
}

.accordeon {
    border-bottom: 2px solid rgba(217, 217, 217, 0.3);
    padding: 10px 0;
}

.accordeon__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

span.product_label-tooltip-span {
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    bottom: 2px;
    width: 18px;
    height: 18px;
    border: 1.5px solid rgba(35, 31, 32, 0.1);
    font-family: 'Jost-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: rgba(35, 31, 32, 0.5);
    transition: 0.5s;
    box-sizing: border-box;
}

.product_label-tooltip.product_label-tooltip--visible {
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 10px 10px 60px rgba(35, 31, 32, 0.15);
    border-radius: 6px;
    z-index: 4;
    overflow: hidden;
    height: 0px;
}

.product_label-tooltip.product_label-tooltip--visible.active {
    overflow: visible;
    height: auto;
    padding: 20px;
}

.product_label-tooltip-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 14px;
    column-gap: 20px;
    row-gap: 40px;
}

.product_label-tooltip-cont div {
    max-width: 193px;
}

.product_label-tooltip-cont h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 8px;
}

.product_label-tooltip-cont p {
    font-family: 'Circe', 'Jost';
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #231f20;
    opacity: 0.6;
    font-size: 12px;
    margin: 0;
}

.accordeon__label svg {
    opacity: 0.5;
}

.accordeon__label>span {
    font-size: 14px;
    font-weight: 700;
    color: #231f20;
    position: relative;
}

.accordeon .accordeon__content {
    height: 0;
    overflow: hidden;
}

.accordeon.active .accordeon__content {
    height: auto;
}

.accordeon.active .accordeon__label svg {
    opacity: 1;
}

.select-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
    padding-top: 10px;
}

.select-box img {
    min-width: 58px;
    height: 58px;
    cursor: pointer;
}

.select-box__item {
    padding: 8px 14px;
    min-height: 90px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #2f69ff;
    transition: 0.5s ease;
    opacity: 0.5;
}

.select-box__item.active {
    opacity: 1;
}

.select-box__item span {
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    color: #231f20;
    min-width: 27px;
    height: 27px;
    width: 100%;
    margin-top: 4px;
    cursor: pointer;
}

.select-box.rounded {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
}

.rounded .select-box__item {
    padding: 0;
    height: 36px;
    min-height: auto;
    border-radius: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #2f69ff;
    transition: 0.5s ease;
    opacity: 0.5;
}

.rounded .select-box__item span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    opacity: 0.5;
    transition: 0.5s ease;
    text-align: center;
    margin-top: 10px;
}

.rounded .select-box__item.active {
    opacity: 1;
}

.select-box .finish-img {
    min-width: auto;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.doors-description {
    padding-top: 10px;
}

.details-and-specs,
.handle-and-lock-specs,
.compatible,
.hinges,
.packaging {
    margin-bottom: 26px;
}

.compatible p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #231f20;
    opacity: 0.5;
    font-family: 'Jost';
}

.accordion-item li span {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #404D63;
    margin-left: 12px;
    margin-bottom: 6px;
}

.accordion-item .title {
    font-weight: 700;
    font-size: 18px;
}

.single-product__slider {
    max-width: 40%;
    max-height: 684px;
}
@media screen and (max-width:768px) {
    .single-product__slider{
        max-width: 100%;
    }
}

.slider-nav {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.slider-nav::-webkit-scrollbar {
    width: 4px;
    background: #f4f4f4;
    border-radius: 0;
}

.slider-nav::-webkit-scrollbar-thumb {
    width: 4px;
    background: #2f69ff;
    border-radius: 0;
}

.slider-nav .slick-track {
    display: flex;
    flex-direction: column;
}

.slider-nav__item {
    width: 139px;
    height: 139px;
    margin-bottom: 14px;
}

.slider-nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-for img {
    object-fit: contain;
}

@media screen and (min-width: 768px) {

    .select-box,
    .select-box.rounded {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .select-box__item,
    .rounded .select-box__item {
        padding: 8px 22px;
        border-radius: 555px;
        min-height: auto;
    }

    .select-box__item span,
    .rounded .select-box__item span {
        font-size: 14px;
        line-height: 100%;
    }

    .select {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .select-item {
        padding: 10px 7px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 16px;
    }

    .select-item.active {
        box-shadow: 5px 5px 40px rgba(20, 21, 27, 0.15);
    }

    .select-img {
        width: 121px;
        height: 112px;
    }
}

@media screen and (min-width: 1440px) {
    .single-product__slider {
        position: sticky;
        top: 0;
    }

    .single-product__content {
        display: flex;
        justify-content: space-around;
    }

    .single-product__info {
        padding-left: 26px;
    }
}

@media screen and (min-width: 1024px) {
    .single-product__info h1 {
        font-size: 26px;
    }
}

.review {
    font-family: 'Gilroy';
    margin-top: 57px;
    position: relative;
}

.review-bg {
    width: 100%;
    position: absolute;
    top: 50%;
}

.review__social {
    display: none;
    gap: 20px;
    align-items: center;
}
.review__list{
    display: flex;
    gap: 6px;
}
.review__text{
    font-size: 20px;
    font-weight: 500;
    
}
@media screen and (max-width:768px) {
    .review-bg {
        top: 75%;
    }
    .review__social {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width:425px) {
    .review__text{
        font-size: 18px;
    }
}
@media screen and (max-width:320px) {
    .review__text{
        font-size: 14px;
    }
}


@media screen and (max-width:320px) {
    .review-bg {
        top: 80%;
    }
}

.review__title {
    color: #404D63;
    font-size: 22px;
    max-width: 532px;
}

.review__videos p {
    color: #2491EB;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 54px;
}

.review__info h3 {
    color: #404D63;
}

.review__info h3 span {
    color: #2491EB;
}

.review__info img {
    max-width: 100%;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 99;
    height: 139px;
    background: url('https://crystaliaglass.com/wp-content/uploads/2022/06/%D0%91%D0%B5%D0%B7-%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-1.jpg') center no-repeat;
    background-size: cover;
}

.play-btn {
    cursor: pointer;
    width: 60px;
}

.review__videos {
    width: 100%;
    margin-bottom: 65px;
}

.review__videos span {
    color: #404D63;
    font-weight: 700;
    font-size: 16px;
    display: block;
    margin-top: 16px;
}

@media screen and (min-width: 768px) {
    .video-wrapper {
        height: 350px;
    }

    .play-btn {
        width: initial;
    }

    .review__title {
        font-size: 36px;
    }

    .review__videos p {
        font-size: 22px;
    }

    .review__info h3 {
        font-size: 22px;
    }
}

@media screen and (min-width: 1022px) {
    .review__content {
        display: flex;
        justify-content: space-between;
    }

    .video-wrapper {
        height: 301px;
    }

    .review__videos {
        max-width: 565px;
    }
}

@media screen and (min-width: 1439px) {
    .video-wrapper {
        height: 431px;
    }

    .review__videos {
        max-width: 695px;
    }
}

.doors-description {
    font-family: 'Gilroy';
    color: #404D63;
    background: #F8F8F8;
    padding: 50px 0;
    margin-top: 57px;
}

.doors-description__content {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
}

.doors-description__info {
    max-width: 603px;
}

.doors-description__info h2 {
    font-size: 36px;
}

.blue-divider {
    background: #2491EB;
    height: 2px;
    width: 32px;
}

.doors-description__details {
    flex: 1;
}

.doors-description__details .flex {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1024px) {
    .doors-description__details .flex {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .doors-description__content {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width:320px) {
    .accordion-item li span {
        font-size: 14px;
    }
}